:root {
  --primary-color: #6c5dd3;
  --secondary-color: #a08ff5;
  --bg-color: #f4f5fa;
  --text-color: #333;
  --white: #fff;
  --border-color: #e0e0e0;
  --card-bg: #6c5dd3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

.flex {
  display: flex;
  gap: 2px;
  align-items: center;
}


.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.sidebar .logo span {
    font-size: 1.25rem;
    font-weight: bold;
}

.menu {
  list-style: none;
}

.menu-item {
  margin: 10px 0;
  cursor: pointer;
}

.menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f7f7f8;
  color: #333;
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: #eaeaea;
}

.badge {
  background-color: #ff4d4f;
  color: #ffffff;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
}

.submenu {
  list-style: none;
  padding-left: 5px;
  display: none;
}

.submenu-item {
  margin: 10px 0;
  padding: 10px;
  color: #555;
  font-size: 14px;
  border-radius: 8px;
}

.submenu-item:hover {
  color: white;
  background: #6c5dd3;
}


.main-content {
  margin-left: 20vw;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 10px;
}

.main-content .header1 {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  height: 48px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input {
  display: flex;
  align-items: center;
  flex: 1;
}
.search-input .icon {
  font-size: 16px;
  margin-right: 10px;
}
.search-input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  color: #333;
}
.search-input input::placeholder {
  color: #9e9e9e;
}

.header1 .icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header1 .icons .icon {
  font-size: 15px;
  cursor: pointer;
}
.header1 .icons .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


.container .up,
.container .down {
  display: flex;
  margin: 5px;
}

.card {
  background: var(--white);
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.analytics-card {
  background: var(--card-bg);
  color: var(--white);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
}

.analytics-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.analytics-card p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

.analytics-card .stats {
  display: grid;
  gap: 15px;
  flex-wrap: wrap;
}

.analytics-card .stat {
  gap: 50px;
}

.analytics-card .stat h4 {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  width: 50px;
}

.analytics-card .stat span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

.analytics-card .image-section {
  width: 80px;
  height: 80px;
  background: url("https://via.placeholder.com/80") no-repeat center center /
    cover;
  border-radius: 50%;card
}

.spend {
  margin: 30px 0 10px 0;
}

.up .right {
  align-items: self-start;
  width: 50%;
}
.up .right .sales-card, .up .right .sales-overview {
  width: 50%;
  height: 100%;
}
/* for graph */
.wave-svg {
  width: 100%;
  height: 100%;
}
.wave-svg path {
  fill: rgba(34, 197, 94, 0.15);
}


.sales-overview {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
  width: 50%;
}
.sales-overview .flex {
  align-items: normal;
  justify-content: space-between;
}
.sales-overview h2 {
  margin: 0;
  font-size: 1rem;
  color: #888;
}
.sales-overview .total-sales {
  font-size: 1.5rem;
}
.sales-overview .increase {
  color: green;
  font-size: 1em;
}

.comparison-container {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  justify-content: space-between;
}

.comparison-box {
  text-align: center;
}

.comparison-box .flex {
  align-items: center;
  gap: 3px;
}

.icon-wrapper {
  background-color: rgba(0, 190, 255, 0.1); /* Light cyan for "Order" */
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px auto;
}

.comparison-box:nth-child(3) .icon-wrapper {
  background-color: rgba(174, 144, 255, 0.1); /* Light purple for "Visits" */
}

.icon {
  font-size: 20px;
  color: #00baff; /* Icon color for "Order" */
}

.comparison-box:nth-child(3) .icon {
  color: #ae90ff; /* Icon color for "Visits" */
}

.label {
  color: #888888;
  font-size: 14px;
  margin-bottom: 5px;
}

.percentage {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  color: #bbbbbb;
  font-size: 12px;
}

.vs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.vs-line {
  width: 1px;
  height: 20px;
  background-color: #dddddd;
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #888888;
  font-weight: bold;
  margin: 5px 0;
}

.colorBar {
  height: 10px;
  background: linear-gradient(to right, #00bcd4 62.2%, #9c27b0 62.2%);
  border-radius: 5px;
}

.earning {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
}
.down .header {
  font-size: 18px;
  font-weight: bold;
}
.down .subheader {
  color: #888;
  font-size: 14px;
}
.earning .flex {
  gap: 15px;
}
.total-earnings {
  display: flex;
  align-items: center;
}
.total-earnings span {
  font-size: 25px;
  font-weight: bold;
}
.percentage {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 14px;
}
.description {
  color: #888;
  font-size: 12px;
}
.chart-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
}
.bar {
  width: 20px;
  background-color: #dcdcff;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #888;
  position: relative;
}
.bar::after {
  content: attr(data-label);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}
.bar.friday {
  background-color: #8a80ff;
}
.bar.mo {
  height: 40px;
}
.bar.tu {
  height: 60px;
}
.bar.we {
  height: 50px;
}
.bar.th {
  height: 45px;
}
.bar.fr {
  height: 80px;
}
.bar.sa {
  height: 55px;
}
.bar.su {
  height: 55px;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 15px;
}
.details div {
  text-align: center;
}
.details .earnings .colorBar {
  background: linear-gradient(to right, #8a4af3 62.2%, grey 62.2%);
}
.details .profit .colorBar {
  background: linear-gradient(to right, #34a853 62.2%, grey 62.2%);
}
.details .expense .colorBar {
  background: linear-gradient(to right, #ea4335 62.2%, grey 62.2%);
}
.details .colorBar {
  height: 5px;
  width: 100px;
}


.support-tracker {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  gap: 10px;
  font-size: 1rem;
  justify-content: space-between;
}
.support-tracker .statTickets {
  margin-top: 25px;
}
.support-tracker .statTickets span {
  font-size: 0.5em;
}
.support-tracker .stat {
  margin: 10px 0;
}
.support-tracker .stat span {
  display: block;
  font-size: 0.8em;
}
.support-tracker .stat h6 {
  color: gray;
  font-size: 0.8em;
}
.progress-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#4a90e2 0% 85%, #e0e0e0 85% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.progress-circle::before {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
.progress-text {
  position: absolute;
  text-align: center;
}
.progress-text .percentage {
  font-size: 2em;
}
.progress-text .label {
  font-size: 0.9em;
  color: #888;
}

@media screen and (max-width: 700px) {
  .up .right {
    font-size: 14px;
    flex-direction: column;
    width: 100%;
  }
  .up .right .sales-card, .up .right .sales-overview{
    width: 100%;
  }
  
    .sidebar {
      transform: translateX(-100%);
      z-index: 99;
    }
  
    .main-content {
      margin-left: 0; /* Reset content margin */
  }
  
    /* Styles for when sidebar is open */
    .sidebar.active {
      transform: translateX(0); /* Show sidebar */
    }
  
    body.sidebar-open {
      overflow: hidden;
    }
}

@media screen and (max-width: 1215px) {
.container .up {
    flex-direction: column;
}
.container .up .analytics-card {
    width: auto;
}
.container .up .right {
    width: 100%;
}

.container .down {
    flex-direction: column;
}
.container .down .earning {
    width: auto;
}
.container .down .support-tracker {
    width: auto;
}
}

.sidebar {
  width: 250px;
  position: fixed;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.close-btn {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: white;
    color: #2c3e50;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s;
}

.close-btn:hover {
    background: #e74c3c;
    color: white;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .hamburger-menu {
        display: block;
    }

    .close-btn {
        display: block;
    }

    .main-content {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
  .up .image-section {
      display: none;
  }
  .up .right {
    font-size: 14px;
    flex-direction: column;
    width: 100%;
  }
  .up .right .sales-card {
    width: 100%;
  }
  .up .right .sales-overview {
    width: 100%;
  }

  .down .earning .flex, .down .earning .details, .down .support-tracker {
    flex-direction: column;
    align-items: start;
  }
}